#include <dt-bindings/input/input-event-codes.h>

/ {
    trackball_arrows: trackball_arrows {
        compatible = "zmk,input-processor-trackball-arrows";
        #input-processor-cells = <0>;
        
        // Параметры по умолчанию (могут быть переопределены)
        threshold = <5>;
        mode = "discrete";  // или "continuous"
        deadzone-x = <2>;
        deadzone-y = <2>;
        track-remainders;
    };
};
