// ZMK Core Includes
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layers
#define DEF 0
#define SYM 1
#define NAV 2
#define NUM 3
#define ALT 4
#define GAM 5
#define GFN 6
#define ADJ 7

// Behaviors Constants
#define TAPPING_TERM_MS 280
#define QUICK_TAP_MS 200
#define REQUIRE_PRIOR_IDLE_MS 150
#define RELEASE_AFTER_KEY_MS 2000

// Combos Constants
#define COMBO_TERM_DEFAULT 30
#define COMBO_QUICK_TAP_MS 100

// Key positions per hand
#define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29
#define KEYS_R 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35
#define THUMBS 36 37 38 39 40 41

// Keys
#define SPACE_L LC(LG(LEFT))
#define SPACE_R LC(LG(RIGHT))
#define TAB_L LC(LS(TAB))
#define TAB_R LC(TAB)
#define WIN_L LG(TAB)
#define WIN_R LG(LS(TAB))

#include "behaviors.dtsi"
#include "macros.dtsi"
#include "combos.dtsi"
#include "conditional_layers.dtsi"

#include "layer_def.dtsi"
#include "layer_sym.dtsi"
#include "layer_nav.dtsi"
#include "layer_num.dtsi"
#include "layer_alt.dtsi"
#include "layer_gam.dtsi"
#include "layer_gfn.dtsi"
#include "layer_adj.dtsi"
