/*
  ╭─────────────────────────┬─────────────────────────╮
  │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
  │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
  │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
  ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
              ╰─────────────┴─────────────╯
*/

ZMK_COMBO(para_left,      &kp UL_LPAR,    LT0 LT1,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(para_right,     &kp UL_RPAR,    RT0 RT1,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(brak_left,      &kp UL_LBKT,    LM0 LM1,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(brak_right,     &kp UL_RBKT,    RM0 RM1,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(brace_left,     &kp UL_LBRC,    LB0 LB1,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(brace_right,    &kp UL_RBRC,    RB0 RB1,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(single_quote,   &kp UL_SQT,     LB1 LB2,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(double_quote,   &kp UL_DQT,     RB1 RB2,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(grave,          &kp UL_GRAVE,   LT1 LT2,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(tilde,          &kp UL_TILDE,   RT1 RT2,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(backslash,      &kp UL_BSLH,    LM2 LM3,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(slash,          &kp UL_FSLH,    RM2 RM3,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(arrow,          &kp LA(LS(K)),  RM3 RM4,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(double_arrow,   &kp LA(K),      RT3 RT4,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(lang_ru,        &kp LG(F11),    LM1 LM2,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(lang_en,        &kp LG(F12),    RM1 RM2,    DEF SYM,  COMBO_TERM, COMBO_IDLE)
