ZMK_COMBO(para_left, &kp N9, LT0 LT1, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(para_right, &kp N0, RT0 RT1, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(brak_left, &kp LBKT, LM0 LM1, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(brak_right, &kp RBKT, RM0 RM1, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(brace_left, &kp LBRC, LB0 LB1, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(brace_right, &kp RBRC, RB0 RB1, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(single_quote, &kp UL_SQT, LB1 LB2, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(double_quote, &kp UL_DQT, RB1 RB2, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(grave, &kp UL_GRAVE, LT1 LT2, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(tilde, &kp UL_TILDE, RT1 RT2, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(backslash, &kp UL_BSLH, LM2 LM3, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(slash, &kp UL_FSLH, RM2 RM3, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(lang_ru, &kp LG(F11), LM1 LM2, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
ZMK_COMBO(lang_en, &kp LG(F12), RM1 RM2, DEF SYM ALT, COMBO_TERM, COMBO_IDLE)
