/* Copied (modified) from https://github.com/caksoylar/zmk-config */
#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        require-prior-idle-ms = <QUICKTAP>; \
    };

/ {
    combos {
        compatible = "zmk,combos";

        /*
          KEY POSITIONS
          ╭────────────────────────╮  ╭────────────────────────╮
          │ 0   1   2   3   4   5  │  │ 6   7   8   9   10  11 │
          │ 12  13  14  15  16  17 │  │ 18  19  20  21  22  23 │
          │ 24  25  26  27  28  29 │  │ 30  31  32  33  34  35 │
          ╰───────────╮ 36  37  38 │  │ 39  40  41 ╭───────────╯
                      ╰────────────╯  ╰────────────╯
        */

        COMBO(para_left, &kp LEFT_PARENTHESIS, 4 5, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
        COMBO(para_right, &kp RIGHT_PARENTHESIS, 6 7, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
        COMBO(brak_left, &kp LEFT_BRACKET, 16 17, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
        COMBO(brak_right, &kp RIGHT_BRACKET, 18 19, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
        COMBO(brace_left, &kp LEFT_BRACE, 28 29, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
        COMBO(brace_right, &kp RIGHT_BRACE, 30 31, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
        COMBO(double_quote, &kp LS(GRAVE), 27 28, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
        COMBO(single_quote, &kp GRAVE, 31 32, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)

        // minus {
        //     bindings = <&kp MINUS>;
        //     key-positions = <3 4>;
        //     timeout-ms = <20>;
        // };

        // plus {
        //     bindings = <&kp PLUS>;
        //     key-positions = <2 3>;
        //     timeout-ms = <20>;
        // };

        // equal {
        //     bindings = <&kp EQUAL>;
        //     key-positions = <26 27>;
        //     timeout-ms = <20>;
        // };

        // underscore {
        //     bindings = <&kp UNDERSCORE>;
        //     key-positions = <7 8>;
        //     timeout-ms = <20>;
        // };

        // pipe {
        //     bindings = <&kp PIPE>;
        //     key-positions = <8 9>;
        //     timeout-ms = <20>;
        // };

        COMBO(lang_ru, &kp LG(F11), 15 16, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
        COMBO(lang_en, &kp LG(F12), 19 20, DEF SYM ALT, COMBO_TERM_DEFAULT, COMBO_QUICK_TAP_MS)
    };
};
