/**
 * NAV Layer
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        nav_layer {
            display-name = "NAV";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0              │1              │2              │3              │4              │5              │   │6              │7              │8              │9              │10             │11             │
    &none           &kp WIN_L       &kp WIN_R       &kp TAB_L       &kp TAB_R       &kp ESC             &kp ESC         &kp HOME        &none           &kp PG_UP       &kp BSPC        &kp DEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12             │13             │14             │15             │16             │17             │   │18             │19             │20             │21             │22             │23             │
    &none           &sk LGUI        &sk LALT        &sk LCTRL       &sk LSHFT       &kp ENTER           &kp ENTER       &kp LEFT        &kp UP          &kp RIGHT       &none           &none
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25             │26             │27             │28             │29             │   │30             │31             │32             │33             │34             │35             │
    &none           &kp SPACE_L     &kp SPACE_R     &to GAM         &kp PSCRN       &kp TAB             &kp TAB         &kp END         &kp DOWN        &kp PG_DN       &none           &kp LNLCK
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &trans          &trans          &trans              &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
            >;
        };
    };
};
