/**
 * SYM Layer
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        sym_layer {
            display-name = "SYM";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0            ` │1            ! │2            @ │3            # │4            $ │5            % │   │6            ^ │7            ? │8            * │9            ( │10           ) │11           ' │
    &kp UL_GRAVE    &kp N1          &kp N2          &kp N3          &kp N4          &kp N5              &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp UL_SQT
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12           ~ │13           1 │14           2 │15           3 │16           4 │17           5 │   │18           6 │19           7 │20           8 │21           9 │22           0 │23           " │
  &mt LALT UL_TILDE &kp KP_N1       &kp KP_N2       &kp KP_N3       &kp KP_N4       &kp KP_N5           &kp KP_N6       &kp KP_N7       &kp KP_N8       &kp KP_N9       &kp KP_N0       &mt RALT UL_DQT
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24           ¦ │25           \ │26           { │27           [ │28           _ │29           - │   │30           + │31           = │32           ] │33           } │34           / │35           | │
   &mt LCTRL UL_DDV &kp UL_BSLH     &kp LBRC        &kp LBKT        &kp UNDER       &kp MINUS           &kp PLUS        &kp EQUAL       &kp RBKT        &kp RBRC        &kp UL_FSLH     &mt RCTRL UL_PIPE
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &trans          &trans          &trans              &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
            >;
        };
    };
};
