/**
 * ALT Layer
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        alt_layer {
            display-name = "ALT";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0              │1              │2              │3              │4              │5              │   │6              │7              │8              │9              │10             │11             │
    &trans          &kp LA(Q)       &kp LA(W)       &kp LA(E)       &kp LA(R)       &kp LA(T)           &kp LA(Y)       &kp LA(U)       &kp LA(I)       &kp LA(O)       &kp LA(P)       &kp LA(LBKT)
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12             │13             │14             │15             │16             │17             │   │18             │19             │20             │21             │22             │23             │
    &trans          &kp LA(A)       &kp LA(S)       &kp LA(D)       &kp F           &kp LA(G)           &kp LA(H)       &kp LA(J)       &kp LA(K)       &kp LA(L)       &kp LA(SEMI)    &kp LA(SQT)
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25             │26             │27             │28             │29             │   │30             │31             │32             │33             │34             │35             │
    &trans          &kp LA(Z)       &kp LA(X)       &kp LA(C)       &kp V           &kp LA(B)           &kp LA(N)       &kp LA(M)       &kp LA(COMMA)   &kp LA(DOT)     &kp LA(FSLH)    &kp LA(RBKT)
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &trans          &trans          &trans              &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
            >;
        };
    };
};
