/**
 * Default Layer - QWERTY
 */
ZMK_LAYER(def,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0              │1          Q Й │2          W Ц │3          E У │4          R К │5          T Е │   │6          Y Н │7          U Г │8          I Ш │9          O З │10         P Х │11             │
    &lt MSE ESC     &kp Q           &kp W           &kp E           &kp R           &kp T               &kp Y           &kp U           &kp I           &kp O           &kp P           &kp BSPC
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12             │13         A Ф │14         S Ы │15         D В │16         F А │17         G П │   │18         H Р │19         J О │20         K Л │21         L Д │22         ~ Ж │23             │
    &kp TAB         &kp A           &kp S           &kp D           &kp F           &kp G               &kp H           &kp J           &kp K           &kp L           &kp UL_TILDE    &kp DEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25         Z Я │26         X Ч │27         C С │28         V М │29         B И │   │30         N Т │31         M Ь │32         & Б │33         [ Ю │34         ] Э │35           / │
    &kp LCTRL       &kp Z           &kp X           &kp C           &kp V           &kp B               &kp N           &kp M           &kp UL_AMPS     &kp UL_LBKT     &kp UL_RBKT     &lt FN UL_FSLH
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &kp LGUI        &kp LSHFT       &lt NAV SPACE       &kp ENTER       &mo SYM         &kp RALT
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

/**
 * SYM Layer
 */
ZMK_LAYER(sym,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0              │1            @ │2            # │3            $ │4            ( │5            ) │   │6            ? │7            ! │8            * │9            % │10           ^ │11             │
    &kp ESC         &kp UL_AT       &kp UL_HASH     &kp UL_DLLR     &kp UL_LPAR     &kp UL_RPAR         &kp UL_QSTM     &kp UL_EXCL     &kp UL_ASTRK    &kp UL_PRCNT    &kp UL_CARET    &kp BSPC
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12             │13           ` │14           ' │15           " │16           [ │17           ] │   │18           : │19           . │20           + │21           = │22             │23             │
    &kp TAB         &kp UL_GRAVE    &kp UL_SQT      &kp UL_DQT      &kp LA(UL_LBKT) &kp LA(UL_RBKT)     &kp LS(UL_DOT)  &kp UL_DOT      &kp PLUS        &kp EQUAL       &none           &kp DEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25           | │26           \ │27           / │28           { │29           } │   │30           ; │31           , │32           - │33           _ │34         ~ Ж │35             │
    &kp LCTRL       &kp UL_PIPE     &kp UL_BSLH     &kp UL_FSLH     &kp LA(UL_LBRC) &kp LA(UL_RBRC)    &kp LS(UL_COMMA) &kp UL_COMMA    &kp MINUS       &kp UNDER       &kp UL_TILDE    &none
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &kp LGUI        &kp LSHFT       &trans              &kp ENTER       &trans          &kp RALT
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

/**
 * NAV Layer
 */
ZMK_LAYER(nav,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0              │1              │2              │3              │4              │5              │   │6              │7              │8              │9              │10             │11             │
    &kp ESC         &kp C_BRI_UP    &kp UL_N7       &kp UL_N8       &kp UL_N9       &kp UL_COMMA        &none           &kp HOME        &none           &kp PG_UP       &kp C_VOL_UP    &kp BSPC
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12             │13             │14             │15             │16             │17             │   │18             │19             │20             │21             │22             │23             │
    &kp TAB         &kp C_BRI_DN    &kp UL_N4       &kp UL_N5       &kp UL_N6       &kp UL_DOT          &none           &kp LEFT        &kp UP          &kp RIGHT       &kp C_VOL_DN    &kp DEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25             │26             │27             │28             │29             │   │30             │31             │32             │33             │34             │35             │
    &kp LCTRL       &none           &kp UL_N1       &kp UL_N2       &kp UL_N3       &kp UL_N0           &kp CAPS        &kp END         &kp DOWN        &kp PG_DN       &kp C_MUTE      &to GAM
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &kp LGUI        &kp LSHFT       &trans              &kp ENTER       &trans          &kp RALT
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

/**
 * EXT Layer
 */
ZMK_LAYER(ext,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0              │1              │2              │3              │4              │5              │   │6              │7              │8              │9              │10             │11             │
    &kp ESC         &none           &kp SPACE_U     &kp TAB_P       &swtn           &none               &none           &none           &none           &none           &none           &kp BSPC
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12             │13             │14             │15             │16             │17             │   │18             │19             │20             │21             │22             │23             │
    &kp TAB         &none           &kp SPACE_D     &kp SPACE_P     &kp SPACE_N     &none               &none           &none           &none           &none           &none           &kp DEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25             │26             │27             │28             │29             │   │30             │31             │32             │33             │34             │35             │
    &kp LCTRL       &none           &none           &kp WIN_P       &swwn           &none               &none           &none           &none           &none           &none           &mo ADJ
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &kp LGUI        &kp LSHFT       &trans              &kp ENTER       &trans          &kp RALT
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

/**
 * GAM Layer
 */
ZMK_LAYER(gam,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &kp ESC         &kp T           &kp Q           &kp W           &kp E           &kp R               &none           &none           &none           &none           &kp C_VOL_UP    &kp BSPC
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &kp TAB         &kp G           &kp A           &kp S           &kp D           &kp F               &none           &kp LEFT        &kp UP          &kp RIGHT       &kp C_VOL_DN    &none
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &mo GFN         &kp B           &kp Z           &kp X           &kp C           &kp V               &none           &none           &kp DOWN        &none           &kp C_MUTE      &to DEF
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &kp LCTRL       &kp LSHFT       &kp SPACE           &kp ENTER       &none           &kp RALT
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

/**
 * GFN Layer
 */
ZMK_LAYER(gfn,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &trans          &kp KP_N5       &kp KP_N1       &kp KP_N2       &kp KP_N3       &kp KP_N4           &trans          &trans          &trans          &trans          &trans          &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &trans          &kp KP_N0       &kp KP_N6       &kp KP_N7       &kp KP_N8       &kp KP_N9           &trans          &trans          &trans          &trans          &trans          &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &trans          &kp H           &kp J           &kp N           &kp M           &kp I               &trans          &trans          &trans          &trans          &trans          &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &kp LALT        &trans          &kp ENTER           &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

/**
 * Fn Layer
 */
ZMK_LAYER(fn,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &none           &kp F1          &kp F2          &kp F3          &kp F4          &kp F5              &none           &none           &none           &none           &none           &none
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &none           &kp F6          &kp F7          &kp F8          &kp F9          &kp F10             &none           &none           &none           &none           &none           &none
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &none           &kp F11         &kp F12         &none           &none           &none               &none           &kp LSHFT       &kp LCTRL       &kp LALT        &kp LGUI        &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &trans          &trans          &trans              &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

/**
 * Mouse Layer
 */
ZMK_LAYER(mse,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &trans          &none           &none           &none           &none           &none               &mkp MB5        &msc SCRL_UP    &mkp MCLK       &none           &none           &none
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &none           &none           &none           &none           &none           &none               &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT &msc SCRL_RIGHT &none
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &none           &none           &none           &none           &none           &none               &mkp MB4        &msc SCRL_DOWN  &mmv MOVE_DOWN  &none           &none           &none
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &none           &none           &none               &mkp LCLK       &mkp RCLK       &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)

/**
 * ADJ Layer
 */
ZMK_LAYER(adj,
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
    &trans          &bootloader     &none           &sys_reset      &none           &out OUT_TOG        &out OUT_TOG    &none           &sys_reset      &none           &bootloader     &none
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &none           &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4        &bt BT_SEL 4    &bt BT_SEL 3    &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_SEL 0    &none
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &none           &none           &none           &none           &none           &bt BT_CLR          &bt BT_CLR      &none           &none           &none           &none           &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                    &trans          &trans          &trans              &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
)
