if SHIELD_TOTEM_DONGLE || SHIELD_TOTEM_DONGLE_PROSPECTOR || SHIELD_TOTEM_DONGLE_OLED_32 || SHIELD_TOTEM_DONGLE_OLED_64

config ZMK_KEYBOARD_NAME
    default "TotemDongle"

endif


if SHIELD_TOTEM_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "Totem"

endif


if SHIELD_TOTEM_PERIPHERAL_LEFT || SHIELD_TOTEM_PERIPHERAL_RIGHT

endif
