if SHIELD_TOTEM_DONGLE || SHIELD_TOTEM_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "TOTEM"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TOTEM_DONGLE

config ZMK_USB
    default y

endif

if SHIELD_TOTEM_DONGLE || SHIELD_TOTEM_CENTRAL_LEFT || SHIELD_TOTEM_PERIPHERAL_LEFT || SHIELD_TOTEM_PERIPHERAL_RIGHT

config ZMK_SPLIT
    default y



endif
