#include "totem.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: kscan1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    central: bt_central {
        compatible = "zmk,ble-central";
        peripherals = <&left_peripheral &right_peripheral>;
    };

    left_peripheral: bt_left {
        compatible = "zmk,ble-peripheral";
        local-name = "totem_peripheral_left";
    };

    right_peripheral: bt_right {
        compatible = "zmk,ble-peripheral";
        local-name = "totem_peripheral_right";
    };
};
