if SHIELD_CORNE_DONGLE

config ZMK_KEYBOARD_NAME
    default "CorneDongle"

endif


if SHIELD_CORNE_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne"

endif


if SHIELD_CORNE_PERIPHERAL_LEFT || SHIELD_CORNE_PERIPHERAL_RIGHT

endif
